/*=================================

  fonts

=================================*/
/* @import url("https://fonts.googleapis.com/css?family=Karla|Open+Sans"); */
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

@font-face {
  font-family: "Roobert Bold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/RoobertBold.woff");
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("ttf");
}

/*=================================

  Generals

=================================*/
* {
  margin: 0;
}

/*=================================

  text-styles

=================================*/

a {
  font-family: inherit;
  color: var(--colors-onbackground--low);
  text-decoration-line: none;
  border-bottom: var(--colors-secondary);
  border-bottom-style: solid;
  transition: 0.3s;
}

a:hover {
  color: black;
  border-bottom: var(--colors-primary);
  border-bottom-style: solid;
}

p {
  font-size: 1em;
  max-width: 510px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.6;
  font-family: "Arvo", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roobert Bold", sans-serif;
  margin-top: 1rem;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
  line-height: 4.5rem;
}

h3 {
  font-size: 3em;
  line-height: 4rem;
}
h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2rem;
}

pre {
  overflow: auto;
}

tr {
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

blockquote {
  border-left: var(--colors-surface-500);
  border-left-style: none;
  border-left-style: solid;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 2rem;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 1.6em;
  }
}

/*=================================

  colors

=================================*/

:root {
  --colors-primary: #f98686;
  --colors-secondary: #2d2c31;

  --colors-primary-050: #ffe5e4;
  --colors-primary-100: #ffcccc;
  --colors-primary-200: #ffaca8;
  --colors-primary-300: #ff9494;
  --colors-primary-400: #ff8585;
  --colors-primary-500: #ff6c6c;
  --colors-primary-600: #ff5555;
  --colors-primary-700: #ff4444;
  --colors-primary-800: #ff2828;
  --colors-primary-900: #ff0808;

  --colors-surface-050: #ffffff;
  --colors-surface-100: #f2f2f2;
  --colors-surface-200: #cbced5;
  --colors-surface-300: #b0b5c0;
  --colors-surface-400: #969dab;
  --colors-surface-500: #7c8497;
  --colors-surface-600: #626c82;
  --colors-surface-700: #47536d;
  --colors-surface-800: #2d3b58;
  --colors-surface-900: #132243;

  --colors-onprimary: var(--colors-surface-900);
  --colors-onsecondary: var(--colors-surface-900);

  --colors-background-light-low: var(--colors-surface-050);
  --colors-background-light-medium: var(--colors-surface-100);
  --colors-background-light-high: var(--colors-surface-200);
  --colors-background-dark: var(--colors-surface-900);

  --colors-ondark-low: var(--colors-surface-050);
  --colors-onlight-low: var(--colors-surface-600);
  --colors-onlight-medium: var(--colors-surface-600);
  --colors-onlight-high: var(--colors-surface-900);

  /*=================================

    shadows

  =================================*/

  --box-shadow-1: 0 1px 1px 0 rgba(34, 46, 60, 0.07),
    0 2px 1px -1px rgba(34, 46, 60, 0.12), 0 1px 3px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-2: 0 2px 2px 0 rgba(34, 46, 60, 0.07),
    0 3px 1px -2px rgba(34, 46, 60, 0.12), 0 1px 5px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-3: 0 3px 4px 0 rgba(34, 46, 60, 0.07),
    0 3px 3px -2px rgba(34, 46, 60, 0.12), 0 1px 8px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-4: 0 3px 4px 0 rgba(34, 46, 60, 0.07),
    0 3px 3px -2px rgba(34, 46, 60, 0.12), 0 1px 8px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-6: 0 6px 10px 0 rgba(34, 46, 60, 0.07),
    0 1px 18px 0 rgba(34, 46, 60, 0.12), 0 3px 5px -1px rgba(34, 46, 60, 0.2);
  --box-shadow-8: 0 8px 10px 1px rgba(34, 46, 60, 0.07),
    0 3px 14px 2px rgba(34, 46, 60, 0.12), 0 5px 5px -3px rgba(34, 46, 60, 0.2);

  /*=================================

  screenSize

=================================*/

  --screen-narrow: 450px;
  --screen-small: 650px;
}

/*=================================

  styles

=================================*/

.bold {
  font-weight: bold;
}

/*=================================

  animation

=================================*/

.left-skew {
  animation-duration: 1.5s;
  animation-name: left-skew;
  animation-timing-function: ease-out;
}

@keyframes left-skew {
  from {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    transform: skew(-5deg) translateX(-80px);
    opacity: 0.8;
  }

  to {
    transform: skew(0deg) translateX(0px);
    opacity: 1;
  }
}

.right-skew {
  animation-duration: 1.5s;
  animation-name: right-skew;
  animation-timing-function: ease-out;
}

@keyframes right-skew {
  from {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    transform: skew(5deg) translateX(80px);
    opacity: 0.8;
  }

  to {
    transform: skew(0deg) translateX(0px);
    opacity: 1;
  }
}
