/*=================================

  fonts

=================================*/
@import url("https://fonts.googleapis.com/css?family=Karla|Open+Sans");

@font-face {
  font-family: "Roobert Bold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/RoobertBold.woff");
}

/*=================================

  Generals

=================================*/
* {
  margin: 0;
}

/*=================================

  text-styles

=================================*/

a {
  font-family: "Roobert Bold", sans-serif;
  color: var(--colors-onbackground--low);
  text-decoration-line: none;
  border-bottom: var(--colors-secondary);
  border-bottom-style: solid;
  transition: 0.3s;
}

a:hover {
  color: black;
  border-bottom: var(--colors-primary);
  border-bottom-style: solid;
}

p {
  font-size: 1em;
  max-width: 600px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.6;
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roobert Bold", sans-serif;
  margin-top: 1rem;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
  line-height: 4.5rem;
}

h3 {
  font-size: 3em;
  line-height: 4rem;
}
h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2rem;
}

pre {
  overflow: auto;
}

tr {
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

blockquote {
  border-left: var(--colors-surface-500);
  border-left-style: none;
  border-left-style: solid;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 2rem;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 4em;
  }
  h4 {
    font-size: 1.6em;
  }
}

/*=================================

  colors

=================================*/

:root {
  --colors-primary: #f98686;
  --colors-secondary: #2d2c31;

  --colors-primary-050: #feebef;
  --colors-primary-100: #fcced5;
  --colors-primary-200: #f98686;
  --colors-primary-300: #e1757a;
  --colors-primary-400: #ec555a;
  --colors-primary-500: #ffe9ec;
  --colors-primary-600: #ffe9ec;
  --colors-primary-700: #ffe9ec;
  --colors-primary-800: #ffe9ec;
  --colors-primary-900: #ffe9ec;

  --colors-surface-050: #ffffff;
  --colors-surface-100: #fafafa;
  --colors-surface-500: #7c828e;
  --colors-surface-900: #10192d;

  --colors-onprimary: var(--color-surface-900);
  --colors-onsecondary: var(--color-surface-900);

  --colors-background-low: var(--color-surface-050);
  --colors-background-high: var(--color-surface-900);

  --colors-onbackground-low: var(--color-surface-050);
  --colors-onbackground-high: var(--color-surface-900);

  --box-shadow-1: 0 1px 1px 0 rgba(34, 46, 60, 0.07),
    0 2px 1px -1px rgba(34, 46, 60, 0.12), 0 1px 3px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-2: 0 2px 2px 0 rgba(34, 46, 60, 0.07),
    0 3px 1px -2px rgba(34, 46, 60, 0.12), 0 1px 5px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-3: 0 3px 4px 0 rgba(34, 46, 60, 0.07),
    0 3px 3px -2px rgba(34, 46, 60, 0.12), 0 1px 8px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-4: 0 3px 4px 0 rgba(34, 46, 60, 0.07),
    0 3px 3px -2px rgba(34, 46, 60, 0.12), 0 1px 8px 0 rgba(34, 46, 60, 0.2);
  --box-shadow-6: 0 6px 10px 0 rgba(34, 46, 60, 0.07),
    0 1px 18px 0 rgba(34, 46, 60, 0.12), 0 3px 5px -1px rgba(34, 46, 60, 0.2);
  --box-shadow-8: 0 8px 10px 1px rgba(34, 46, 60, 0.07),
    0 3px 14px 2px rgba(34, 46, 60, 0.12), 0 5px 5px -3px rgba(34, 46, 60, 0.2);
}

/*=================================

  styles

=================================*/

.bold {
  font-weight: bold;
}

.medium {
  opacity: 0.8;
}

.low {
  opacity: 0.6;
}

.onSurface900 {
  color: var(--colors-surface-050);
}

/*=================================

  animation

=================================*/

.left-skew {
  animation-duration: 2s;
  animation-name: left-skew;
  animation-timing-function: ease-out;
}

@keyframes left-skew {
  from {
    opacity: 0;
  }

  74% {
    opacity: 0;
  }

  75% {
    transform: skew(-5deg) translateX(-80px);
    opacity: 0.8;
  }

  to {
    transform: skew(0deg) translateX(0px);
    opacity: 1;
  }
}
