article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 650px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 640px) {
  article {
    margin: 1rem;
  }
}
