footer {
  width: 100%;
  background-color: var(--colors-surface-100);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sticky {
  position: fixed;
  bottom: 0;
}

footer svg {
  height: 2rem;
}
